<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    android:versionCode="13"
    android:versionName="0.8.1"
    package="com.gamekt.pro"> <uses-sdk
        android:minSdkVersion="26"
        android:targetSdkVersion="28" />

    <uses-feature
        android:glEsVersion="0x20000"
        android:required="true" />

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_EXTERNAL_STORAGE" />

    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <uses-permission android:name="android.permission.FOREGROUND_SERVICE_DATA_SYNC" />
    <uses-permission android:name="android.permission.REQUEST_INSTALL_PACKAGES" />
    <uses-permission android:name="android.permission.POST_NOTIFICATIONS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:theme="@7F1302B1"
        android:label="Gamekt Pro"
        android:icon="@7F100000"
        android:name=".PluviaApp"
        android:allowBackup="false"
        android:largeHeap="true"
        android:supportsRtl="true"
        android:isGame="true"
        android:extractNativeLibs="true"
        android:usesCleartextTraffic="true"
        android:appCategory="0"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:allowAudioPlaybackCapture="true">

        <activity
            android:theme="@7F1302B1"
            android:name=".MainActivity"
            android:exported="true"
            android:launchMode="1"
            android:configChanges="0x000004A0"
            android:windowSoftInputMode="0x00000010">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data
                    android:scheme="home"
                    android:host="pluvia" />
            </intent-filter>
        </activity>

        <activity android:name=".ui.screen.auth.GOGOAuthActivity" android:exported="false" />
        <activity android:name=".ui.screen.auth.EpicOAuthActivity" android:exported="false" />
        <activity android:name=".ui.screen.auth.AmazonOAuthActivity" android:exported="false" />

        <service android:name=".service.SteamService" android:enabled="true" android:exported="false" android:foregroundServiceType="0x00000001" />
        <service android:name=".service.gog.GOGService" android:enabled="true" android:exported="false" android:foregroundServiceType="0x00000001" />
        <service android:name=".service.epic.EpicService" android:enabled="true" android:exported="false" android:foregroundServiceType="0x00000001" />
        <service android:name=".service.amazon.AmazonService" android:enabled="true" android:exported="false" android:foregroundServiceType="0x00000001" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:exported="false"
            android:authorities="com.gamekt.pro.fileprovider"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@7F150000" />
        </provider>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@7F0B0008" />

    </application>
</manifest>
